@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@font-face {
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    font-family: 'Open Sans Condensed';
    src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'),
        url('OpenSansCondensed-Light.woff2') format('woff2'),
        url('OpenSansCondensed-Light.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: local('Open Sans Condensed Light Italic'), local('OpenSansCondensed-LightItalic'),
        url('OpenSansCondensed-LightItalic.woff2') format('woff2'),
        url('OpenSansCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: local('Open Sans Condensed Bold'), local('OpenSansCondensed-Bold'),
        url('OpenSansCondensed-Bold.woff2') format('woff2'),
        url('OpenSansCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



*{
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
}
html, body {
    /*position: relative;  */
    margin:0; 
    height: 100%;   
}
#container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    /* display: flex;
    flex-direction: column;*/
    /*overflow: hidden;*/

} 
.main {
}
.headsection {
    display: block;
    width: 100%;
    height: 230px;
    align-items: center;
    background-color: #dcdcdc;
    display: flex;
    align-items: center; 
}
.headin980 {
    position: relative;
    padding: 0px 10px;
    width: 980px;
    margin: auto;
}
.headcont {
    width: 980px;
    /*margin: 50px 0px;*/
    display: flex;
    align-items: center;
}
#logo {
    /*position: absolute;
    left:0;*/
    display: block;
    height:100px;
    width:273px;
    
}
.contacts {
    /*position: sticky;
    position: absolute;
    right:0;  */
    display: block;
    margin-left: auto; 
    height: 82px;   
    text-align: center;
}
.contacts p {
    margin: 0;
    font-family: 'Open Sans Condensed';   
    font-size: 29px;
    line-height: 41px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #767676;
}



/*BAR SECTION*/
.barsection {
    background-color: #777777; 
    position: static;
    display: block;
    width: 100%;
} 
.barin980 {
    padding: 0px 10px;
    width: 980px;
    height: 80px;
    margin: auto;
    align-items: center;  
} 
.menu {
    display: flex;
    /*flex-basis: auto;*/
    justify-content: center;
    padding: 0;
    margin:0;
    text-align: center;
}
.menu li {
    margin: 26px 0;
    list-style: none;  
    border-right: 2px #ffffff solid;

}
.menu a {
    text-align: justify;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-decoration: none;
    margin: 0 20px;
}
.menu li:last-child {
    border-right: none;
}
.menu a:hover {
    text-decoration: underline;
}
.navig ul {
    margin: auto auto;
}



.sldsection {
    /*height: 400;
    width: 100%;*/
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #f8f8f8;

}
.slide980  {
    width: 1248px;
    margin: 0 auto;
    margin-top: -62px;
    display: block;
}
.main {
    flex-grow: 1;
}
.mainsection {
    display: block;
    width: 100%;
    background-color: #ffffff;  

}
.mainin980 {
    margin: auto;
    padding: 0px  10px 0px 10px;
    width: 980px;
    /*min-height: 785px;*/
    height: 785px;
}
.twoblocks {
    display: flex;
    flex-direction: row;
}
.newsblock {
    display: block;
    padding-top:30px;
}
.news h2 {
    font-family: 'PT Sans';
    font-size: 40px;
    line-height: 38px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    margin: 0;
}
.news {
    width: 317px;
    height: 538px;
    background-color: #777777;
    padding: 22px 0 0 33px;
}
.newsmenu {
    margin-top: 38px;
    margin-bottom: 0;
    padding: 0 52px 0 0;
    /*padding-bottom: 100px;*/
    list-style: none;
}
.newsmenu h6 {
    margin: 0;
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.025em;
}
.newsmenu li {
    margin-bottom: 30px;
}
.newsmenu li a {
    text-decoration: none;
}
.newsmenu li:last-child {
    text-decoration: underline;
    text-align: right;
    margin-bottom: 0;
}
.infoblock {
    display: block;
    padding-top: 52px;
    margin-left: 59px;
} 
.info {
    height: 500px;
    width: 570px;
    background-color: #ffffff;
}
.info h2 {
    font-family: 'PT Sans';
    line-height: 29px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #767676;
    font-size: 40px;
    margin:0;
}
.info p {
    font-family: 'PT Sans';
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #767676;
    font-size: 14px;
    margin-top:30px;
    margin-bottom: 0px;
}


/*.center {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}*/

.footer {
   /* position: relative;
	min-height: 100%;
    position: absolute;
    margin-top: auto;
    bottom: 0;
    width: 100%;*/
    /*flex: 0 0 auto;*/
}
.footsection {
    margin-top: auto;
    display: block;
    width: 100%;
    margin-top: auto;
    height: 220px;
    background-color: #777777; 
    /*position: absolute;
	left: 0;*/
	bottom: 0;
	width: 100%; 
}
.footin980 {
    position: relative;
    display: flex;
    padding: 50px  10px 0px 10px;
    width: 980px;
    margin: auto;
}
.copyrights {
    position: absolute;
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
}
.copyrights p {
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 10px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
}
.logoinfo {
    position: absolute;
    right:0;
    display:flex;
}
.inform {
    height: 33px;
    margin-left:9px;
}
.inform p {
    font-family: 'PT Sans';
    font-size: 11px;
    margin-top:0px;
    line-height: 9px;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 0.025em;
    color: #ffffff;
}
.footnav {
    position: absolute;
    right:50%;
    left:50%;
    display: flex;
    width: 150px;
}
.footmenu {
    margin: 0;
    padding: 0;
    list-style: none;
}