@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@font-face {
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    font-family: 'Open Sans Condensed';
    src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'),
        url('OpenSansCondensed-Light.woff2') format('woff2'),
        url('OpenSansCondensed-Light.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: local('Open Sans Condensed Light Italic'), local('OpenSansCondensed-LightItalic'),
        url('OpenSansCondensed-LightItalic.woff2') format('woff2'),
        url('OpenSansCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: local('Open Sans Condensed Bold'), local('OpenSansCondensed-Bold'),
        url('OpenSansCondensed-Bold.woff2') format('woff2'),
        url('OpenSansCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



*{
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
}
html, body {
    margin:0; 
    height: 100%;   
}
#container {
    min-height: 100%;
    display: flex;
    flex-direction: column;

} 
/*HEADER*/
.headsection {
    display: block;
    width: 100%;
    height: 230px;
    align-items: center;
    background-color: #dcdcdc;
    display: flex;
    align-items: center; 
}
.headin980 {
    position: relative;
    padding: 0px 10px;
    width: 980px;
    margin: auto;
}
.headcont {
    width: 980px;
    display: flex;
    align-items: center;
}
#logo {
    display: block;
    height:100px;
    width:273px;
    
}
.contacts {
    display: block;
    margin-left: auto; 
    height: 82px;   
    text-align: center;
}
.contacts p {
    margin: 0;
    font-family: 'Open Sans Condensed';   
    font-size: 29px;
    line-height: 41px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #767676;
}


/*MAIN (i mean it's menu bar, slider and content)*/
.main {
    flex-grow: 1;
}

/*MENU BAR SECTION*/
.barsection {
    background-color: #777777; 
    position: static;
    display: block;
    width: 100%;
} 
.barin980 {
    padding: 0px 10px;
    width: 980px;
    height: 80px;
    margin: auto;
    align-items: center;  
} 
.menu {
    display: flex;
    /*flex-basis: auto;*/
    justify-content: center;
    padding: 0;
    margin:0;
    text-align: center;
}
.menu li {
    margin: 26px 0;
    list-style: none;  
    border-right: 2px #ffffff solid;

}
.menu a {
    text-align: justify;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-decoration: none;
    margin: 0 20px;
    margin-bottom: 5px;
}
.menu li:last-child {
    border-right: none;
}
.menu a:hover {
    text-decoration: underline 3px;
}
.navig ul {
    margin: auto auto;
}


/*SLIDER SECTION*/
.sldsection {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #f8f8f8;

}
.sliderimage  {
    width: 1248px;
    margin: 0 auto;
    margin-top: -62px;
    display: block;
}


/*CONTENT PART*/
.mainsection {
    display: block;
    width: 100%;
    background-color: #ffffff;  

}
.mainin980 {
    margin: auto;
    padding: 0px  10px 0px 10px;
    width: 980px;
    height: 785px;
}
.twoblocks {
    display: flex;
    flex-direction: row;
}

/*NEWS BLOCK*/
.newsblock {
    display: block;
    padding-top:30px;
}
.news h2 {
    font-family: 'PT Sans';
    font-size: 40px;
    line-height: 38px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    margin: 0;
}
.news {
    width: 317px;
    background-color: #777777;
    padding: 22px 0 100px 33px;
}
.newsmenu {
    margin-top: 38px;
    margin-bottom: 0;
    padding: 0 52px 0 0;
    list-style: none;
}
.newsmenu h6 {
    margin: 0;
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.025em;
}
.newsmenu li {
    margin-bottom: 30px;
}
.newsmenu li a {
    text-decoration: none;
}
.newsmenu li:last-child {
    text-decoration: underline;
    text-align: right;
    margin-bottom: 0;
}

/*INFO BLOCK*/
.infoblock {
    display: block;
    padding-top: 52px;
    margin-left: 59px;
} 
.info {
    height: 500px;
    width: 570px;
    background-color: #ffffff;
}
.info h2 {
    font-family: 'PT Sans';
    line-height: 29px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #767676;
    font-size: 40px;
    margin:0;
}
.info p {
    font-family: 'PT Sans';
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #767676;
    font-size: 14px;
    margin-top:30px;
    margin-bottom: 0px;
}



/*FOOTER SECTION*/
.footsection {
    display: block;
    width: 100%;
    background-color: #777777; 
	bottom: 0;
}
.footin980 {
    height: 220px;
    padding: 50px  10px 0px 10px;
    position: relative;
    display: flex;
    /*padding: 50px  10px 0px 10px;*/
    width: 980px;
    margin: auto;
}
.copyrights {
    margin-right: auto;
    /*position: absolute;*/
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
}
.copyrights p {
    margin-top: 0;
    font-family: 'PT Sans';
    font-size: 11px;
    line-height: 11px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.logoinfo {
    display:flex;
    margin-left: auto;
    height: 38px;
}
.inform {
    height: 33px;
    margin-left:9px;
}
.inform p {
    font-family: 'PT Sans';
    font-size: 11px;
    margin-top:0px;
    line-height: 9px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
}
.inform p u {
    text-decoration: underline #a7a7a7;
}
.footnav {
    /*position: absolute;*/
    right:50%;
    left:50%;
    /*display: flex;*/
    width: 120px;
}
.footmenu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footmenu li:first-child {
    margin-top: 0;
}
.footmenu a {
    text-decoration: underline #a7a7a7 2px;
}